name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/goreleaser/goreleaser-cross:v1.25
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
          distribution: goreleaser
          version: 2.13.1
      - name: Build and publish the next release
        run: |
          make release-build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
